{% extends "base.html" %}

{% block content %}

<h1><strong>User Posts</strong></h1>
        
        {% for user in users %}
        
            <a href="/blog?id={{user.id}}"><h2>{{user.title}}</h2></a>
            {{user.content}}
            
            
            <p>written by
            
            <a href="/blog?userId={{user.owner_id}}">{{user.author_username}}</a>
        
            </p><br><br>

            <hr />
            
        {% endfor %}
            
       
{% endblock %}